// define variable color

$primary-color: #0A196F;;
$secondary-color: #102587;
$secondary-netral: #696969;
$netral: #f5f5f5;
$dark-netral: #cfcfcf;
$green: #65c258;
$blue: #39c7d3;
$purple: #5c45a0;
$primary-red: #0A196F;
$base-dark: #151515;
$base-color-dark: #546368;

$card-shadow: 0px 4px 8px 0px #0000000d;

$new-primary-color: #0A196F;
$new-netral: #F9F9F9;